name: Youtube channel video data fetcher

on:
  schedule:
    - cron: "*/30 * * * *" # Runs every 30mins

jobs:
  fetch-videos:
    runs-on: ubuntu-latest
    env:
      YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
      YOUTUBE_CHANNEL_ID: ${{ secrets.YOUTUBE_CHANNEL_ID }}

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'npm'
      
    - run: npm ci
    - run: git config user.name "Github Actions"
    - run: git config user.email "noreply@github.com"
    - name: Fetch videos and update JSON
      run: npm run fetch --if-present
    - name: Commit and push updates
      run: | 
        git add data.json
        if ! git diff --staged --quiet; then
          git commit -m "Update data.json"
          git push
        else
          echo "No changes to commit"
        fi
